html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    overflow: hidden;
}

aside {
    width: 20%;
    max-width: 300px;
    padding-top: 30px;

    h1 {
        color: $wiilog;
        font-size: 1.8rem;
        text-align: center;
        font-weight: bolder;
    }

    ul {
        list-style-type: none;
        font-weight: bold;
        padding: 20px;

        li {
            padding: 10px 20px;
            border-radius: 5px;
            color: #444;

            a {
                color: #444;
                text-decoration: none;
            }

            &:hover {
                border-color: $primary;
                background-color: $grey;

                a {
                    color: $primary;
                }
            }

            &.active {
                border-color: $primary;
                background-color: $lighter-blue;

                a {
                    color: $primary;
                }
            }
        }

        small {
            font-size: 0.6rem;
            vertical-align: sub;
        }
    }
}

.content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: $background;
    border-radius: 10px 0 0 10px;
    box-shadow: inset 2px 0 5px #DDD;
    padding: 2%;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 6px;
}

th {
    font-size: 0.8rem;
    font-weight: bold;
    text-align: left;
    color: #555;
}

td {
    font-size: 0.9rem;
}

tbody > tr {
    background-color: #FFF;
    border-radius: 4px;
    padding: 10px 10px;
    height: 40px;
    border-top: 3px solid #FFF;
    box-shadow: 2px 2px 10px #BBB;
    transition: 0.2s scale;
    cursor: pointer;

    &:hover {
        background-color: #F8F8F8;
        transform: scaleX(1.01) scaleY(1.05);
    }
}

th:first-child, td:first-child {
    padding-left: 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

th:last-child, td:last-child {
    padding-right: 20px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

.bolder {
    font-weight: 900;
}

.title {
    font-size: 1.3rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.muted {
    color: #777;
    font-size: 0.8rem;
}

.row {
    display: flex;

    &>* {
        flex: 1;

        &:not(:first-child) {
            margin-left: 5px;
        }

        &:not(:last-child) {
            margin-right: 5px;
        }
    }
}

span.called {
    white-space: nowrap;
    grid-area: 1 / 2 / 2 / 3;
    margin-bottom: 0;
    font-size: 0.8rem;
    color: $primary;
    font-weight: bold;

    .type {
        color: #333;
    }

    .method {
        color: $light-blue;
    }

    .argument {
        font-style: italic;
        font-weight: lighter;
        color: #888;
    }
}

pre {
    font-family: "Courier New", serif;
    font-size: 0.9rem;
}

@media (max-width: 900px) {
    .argument {
        display: none;
    }
}